body {
    background-color: #0b0b26;
    color: #f0f0f0;
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    margin: 0;
}

/* Oyun hissəsini ortalamaq üçün ayrıca konteyner */
.game-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.container, #quiz {
    background-color: #1a1a2e;
    border: 2px solid #00ffcc;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px #00ffcc;
    width: 400px;
    text-align: center;
}

input#answer {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #00ffcc;
    background-color: #0e0e1a;
    color: #f0f0f0;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #00ffcc;
    color: #0e0e1a;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
}

button:hover {
    background-color: #00cc99;
}

#result {
    margin-top: 15px;
    font-weight: bold;
    min-height: 30px;
}


@media (max-width: 480px) {
    .container, #quiz {
        width: 90%; /* Ekrana uyğun en */
        padding: 15px 20px;
    }

    input#answer {
        width: 100%;
        font-size: 14px;
    }

    button {
        width: 100%;
        font-size: 16px;
        padding: 12px 0;
    }
}
