{% extends "base.html" %}
{% block title %}Şifrəni Dəyişdir{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/change_password.css') }}">

<div class="change-password-container">
    <h2>Şifrəni Dəyişdir</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flash-messages">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="POST" class="change-password-form">
        <input type="password" name="old_password" placeholder="Köhnə şifrəniz" required>
        <input type="password" name="new_password" placeholder="Yeni şifrə" required>
        <input type="password" name="confirm_password" placeholder="Yeni şifrəni təsdiqlə" required>
        <button type="submit">Dəyişdir</button>
    </form>
</div>
{% endblock %}
